body{
    //background-color:black;
}
main{
    height:100%;
}
.hero{
    background-image:url(../home2.jpg);
    width:100%;
    min-height:100%;
    background-position:center;
    background-size: cover;
    display:table;
    height:100%;
    
}
.hero h1, .hero p{
    margin:0 auto;
}
.firstLine{
    color:rgba(255,255,255,1);
    font-family: "lato",Helvetica, Arial, sans-serif;
    opacity:;
    margin:0 auto;
}
.secondLine{
    color:rgba(255,255,255,.5);
}
.hero .backdrop{
    padding: 50px 0;
    margin:auto;
    vertical-align: middle;
    display:block;
}
.firstTitle{
    background-color:orangered;
    color:white;
}
.secondTitle{
    background-color:orange;
    color:white;
}
.title h1{
    font-size:120px;
    font-weight:100;
    padding:0;
    text-align: left;
    padding:0;
    margin:0;
}

.workBlock{
    width:100%;
    padding:0;
    height:2000px;
    background:linear-gradient(black,white);
}
.box{
    width:70%;
    margin:0 auto;
}
.work{
    float:left;
    height:450px;
    width:33%;
    background-size: cover;
    text-align: center;
    margin:.16% ;
}
.work .curtain{
    width:100%;
    height:100%;
    background-color:black;
    color:white;
    opacity:0;
    transition:.5s;
    cursor:pointer;
    line-height: 400px;
    display:inline-block;
}
.curtain h3{
    height:0
}
.secondContainer .work{
    background-position:center;
}
.curtain p{
    font-size:18px;
    width:100%;
    text-align: center;
    margin:30px auto;
}
.curtain:hover{
    opacity:.8;
}

.thesis{
    background-image:url(../projects/Arch/Thesis/thesis.jpg);
    background-position:center;
    
}
.dwelling{
    background-image:url(../projects/Arch/Dwelling/dwelling.png);
}
.archive{
    background-image:url(../projects/Arch/Archive/Archive.png);
    background-position:center;
}
.fold{
    background-image:url(../projects/Arch/Fold/Folded%20plates.jpg);
}
.mixedUse{
    background-image:url(../projects/Arch/511/511.jpg);
}
.warehouse{
    background-image:url(../projects/Arch/Warehouse/Clerks%20Warehouse.jpg);
}
.office{
    background-image:url(../projects/Arch/Office/Clerks%20Work.jpg);
}
.graphics{
    background-image:url(../projects/Arch/Graphics/Graphics.png);
}
.industrial{
    background-image:url(../projects/Arch/Industrial/Keypad-2.jpg);
}
.foundation{
    background-image:url(../projects/Arch/1st/naef.png);
}

.BlocShop{
    background-image:url(../projects/Bloc/shop/blocshop2.jpg);
}
.BlocJams{
    background-image:url(../projects/Bloc/jams/BlocJams.jpg);
    background-position:right;
}
.BlocBox{
    background-image:url(../projects/Bloc/box/blocbox.jpg);
}
.PayCrave{
    background-image:url(../projects/Bloc/crave/PayCrave.png);
    background-position:center;
}
.BlocStarter{
    background-image:url(../projects/Bloc/starter/blocStarter.jpg);
    background-position:center;
}


footer{
    width:70%;
}



@media(max-width:768px){
    .hero .backdrop{
        width:100%;
    }
    .floater{
        height:100px;
    }
    .work{
        width:100%;
    }
    .title{
        display:none;
    }
    
}
@media(min-width:768px){
    
    .hero h1, .hero p{
        width:80%;
    }
    .hero .backdrop{
        width:100%;
    }
    .floater{
        height:150px;
    }
    .work{
        width:49%
    }
}
@media(min-width:1200px){
    .hero .backdrop{
        width:100%;
    }
    .floater{
        height:220px;
    }
    .work{
        width:33%
    }
}



