
.hero{
    background-image:url(hero.jpg);
    width:100%;
    min-height:100%;
    background-position:center;
    background-size: cover;
    display:table;
    color:white;
    text-align: center;
}
.hero div{
    width:80%;
    margin:0% auto 0;
    padding:25% 0;
}
@media (min-width: 1200px){
    .hero div{
        width:60%;
    }
}
.hero h1{
    font-family: "lato",Helvetica, Arial, sans-serif;
    padding:0;
    margin:0;
    font-weight:400;
}
.hero h3{
    font-family: "lato",Helvetica, Arial, sans-serif;
    font-size:36px;
    font-weight:100;
    padding:0;
    margin:0;
}
.hero a{
    color:white;
    margin: 10px 10px 0;
}










.sectionOne h3{
    padding:0;
    margin:0 auto;
}
p{
    margin:1% auto;
}
.sectionOne{
    background-color:#597584;
    padding:100px 0;
    width:100%;
    color:white;
    height:100%;
}
.sectionOne > div{
    width:60%;
    margin: 0 auto;
}
.imageContainer img{
    margin: 10px 0;
}
.pallette{
    width:80%;
}
@media(max-width:768px){
    .sectionOne > div{
        width:80%;
    }
    .left{
        float:none;
        text-align: center;
        padding:0 0 5%;
        margin:0;
    }
    .right{
        float:none;
    }
}

@media(min-width: 768px){
    .sectionOne > div{
        width:80%;
    }
    .sectionOne > div >div{
        width: 50%;
    }
    .logo{
        width:70%;
    }
}
@media(min-width: 1200px){
    .sectionOne > div{
        width:60%;
    }
    .sectionOne > div >div{
        width: 50%;
    }
    .logo{
        width:50%
    }
}



.sectionTwo{
    margin: 100px auto;
}
.sectionTwo div{
    text-align: center;
}
.sectionTwo img{
    width:20%;
    box-shadow:5px 5px 20px #999999;
    margin:50px 0 0;
}
.modalImage:hover{
    opacity:.5;
    cursor:pointer;
    transition:all .3s;
}
.sectionTwo div{
    margin: 50px auto 0;
}

.mySlides  img{
    max-width: 1000px;
}


.sectionThree{
    background-color:#eeeeee;
    width:100%;
    padding:100px 0;
}
.sectionThree div{
    text-align: center;
}
@media(max-width:768px){
    .sectionThree div{
        width:90%;
    }
}
@media(min-width:768px){
    .sectionThree div{
        width:80%;
    }
}
@media(min-width:1200px){
    .sectionThree div{
        width:60%;
    }
}
.sectionThree img{
    box-shadow:10px 10px 50px #999999;
    margin:50px 0 0;
    width:100%;
}
.sectionThree div{
    margin: 50px auto 0;
}







footer{
    margin:20px auto;
}
footer{
    clear:both;
}
footer li{
    display:inline-block;
    margin: 0 10px;
    font-size: 12px;
    font-weight: 200;
}
footer ul{
    margin:0;
}
footer h5{
    margin:15px
}
