body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u636 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u637 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1648px;
  height:1080px;
}
#u638 {
  position:absolute;
  left:0px;
  top:0px;
  width:1648px;
  height:1080px;
}
#u639 {
  position:absolute;
  left:2px;
  top:532px;
  width:1644px;
  visibility:hidden;
  word-wrap:break-word;
}
#u640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u640 {
  position:absolute;
  left:1810px;
  top:30px;
  width:50px;
  height:50px;
}
#u641 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u642 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u643 {
  position:absolute;
  left:1810px;
  top:986px;
  width:70px;
  height:70px;
}
#u644 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u645 {
  position:absolute;
  left:50px;
  top:986px;
  width:70px;
  height:70px;
}
#u646 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:355px;
}
#u647 {
  position:absolute;
  left:557px;
  top:587px;
  width:1220px;
  height:355px;
  color:#FFFFFF;
}
#u648 {
  position:absolute;
  left:50px;
  top:50px;
  width:1120px;
  word-wrap:break-word;
}
