body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u447 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u448 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1713px;
  height:1099px;
}
#u449 {
  position:absolute;
  left:-10px;
  top:-20px;
  width:1713px;
  height:1099px;
}
#u450 {
  position:absolute;
  left:2px;
  top:542px;
  width:1709px;
  visibility:hidden;
  word-wrap:break-word;
}
#u451 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u452 {
  position:absolute;
  left:1810px;
  top:986px;
  width:70px;
  height:70px;
}
#u453 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u454 {
  position:absolute;
  left:50px;
  top:986px;
  width:70px;
  height:70px;
}
#u455 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:420px;
}
#u456 {
  position:absolute;
  left:557px;
  top:652px;
  width:1220px;
  height:420px;
  font-family:'DIN Next LT Pro Bold', 'DIN Next LT Pro';
  font-style:normal;
  color:#FFFFFF;
}
#u457 {
  position:absolute;
  left:50px;
  top:50px;
  width:1120px;
  word-wrap:break-word;
}
#u458 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u459 {
  position:absolute;
  left:1796px;
  top:56px;
  width:75px;
  height:75px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u460 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:78px;
}
#u461 {
  position:absolute;
  left:1831px;
  top:56px;
  width:3px;
  height:75px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u462 {
  position:absolute;
  left:2px;
  top:30px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u463_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:78px;
}
#u463 {
  position:absolute;
  left:1833px;
  top:54px;
  width:3px;
  height:75px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u464 {
  position:absolute;
  left:2px;
  top:30px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
