body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u908 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u909 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1918px;
  height:1079px;
}
#u910 {
  position:absolute;
  left:0px;
  top:1px;
  width:1918px;
  height:1079px;
}
#u911 {
  position:absolute;
  left:2px;
  top:532px;
  width:1914px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:822px;
  height:72px;
}
#u912 {
  position:absolute;
  left:198px;
  top:170px;
  width:822px;
  height:72px;
  font-family:'DIN Next LT Pro Bold', 'DIN Next LT Pro';
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
  text-align:center;
}
#u913 {
  position:absolute;
  left:0px;
  top:0px;
  width:822px;
  word-wrap:break-word;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:604px;
}
#u914 {
  position:absolute;
  left:0px;
  top:300px;
  width:1340px;
  height:604px;
  font-size:30px;
  color:#FFFFFF;
}
#u915 {
  position:absolute;
  left:200px;
  top:50px;
  width:1090px;
  word-wrap:break-word;
}
#u916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:170px;
}
#u917 {
  position:absolute;
  left:1780px;
  top:455px;
  width:140px;
  height:170px;
}
#u918 {
  position:absolute;
  left:2px;
  top:77px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u919_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:6px;
}
#u919 {
  position:absolute;
  left:1815px;
  top:514px;
  width:75px;
  height:3px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u920 {
  position:absolute;
  left:2px;
  top:-6px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u921_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:4px;
}
#u921 {
  position:absolute;
  left:1815px;
  top:565px;
  width:75px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u922 {
  position:absolute;
  left:2px;
  top:-8px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:170px;
}
#u924 {
  position:absolute;
  left:0px;
  top:455px;
  width:140px;
  height:170px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u925 {
  position:absolute;
  left:2px;
  top:77px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:6px;
}
#u926 {
  position:absolute;
  left:30px;
  top:563px;
  width:75px;
  height:3px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u927 {
  position:absolute;
  left:2px;
  top:-6px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:4px;
}
#u928 {
  position:absolute;
  left:30px;
  top:514px;
  width:75px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u929 {
  position:absolute;
  left:2px;
  top:-8px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:100px;
}
#u931 {
  position:absolute;
  left:0px;
  top:1px;
  width:480px;
  height:100px;
  opacity:0.5;
  font-family:'DIN Next LT Pro Bold', 'DIN Next LT Pro';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-align:left;
}
#u932 {
  position:absolute;
  left:100px;
  top:32px;
  width:378px;
  word-wrap:break-word;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:100px;
}
#u934 {
  position:absolute;
  left:960px;
  top:1px;
  width:480px;
  height:100px;
  font-family:'DIN Next LT Pro Bold', 'DIN Next LT Pro';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-align:left;
}
#u935 {
  position:absolute;
  left:100px;
  top:32px;
  width:378px;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u936 {
  position:absolute;
  left:990px;
  top:26px;
  width:50px;
  height:50px;
}
#u937 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:100px;
}
#u939 {
  position:absolute;
  left:480px;
  top:1px;
  width:480px;
  height:100px;
  opacity:0.5;
  font-family:'DIN Next LT Pro Bold', 'DIN Next LT Pro';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-align:left;
}
#u940 {
  position:absolute;
  left:100px;
  top:32px;
  width:378px;
  word-wrap:break-word;
}
#u941 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:100px;
}
#u942 {
  position:absolute;
  left:1440px;
  top:1px;
  width:480px;
  height:100px;
  opacity:0.5;
  font-family:'DIN Next LT Pro Bold', 'DIN Next LT Pro';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-align:left;
}
#u943 {
  position:absolute;
  left:100px;
  top:32px;
  width:378px;
  word-wrap:break-word;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
}
#u944 {
  position:absolute;
  left:1450px;
  top:32px;
  width:50px;
  height:38px;
}
#u945 {
  position:absolute;
  left:2px;
  top:11px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u946 {
  position:absolute;
  left:500px;
  top:17px;
  width:63px;
  height:63px;
}
#u947 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u948 {
  position:absolute;
  left:30px;
  top:25px;
  width:53px;
  height:53px;
}
#u949 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
