body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1390px;
}
#u307 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1390px;
}
#u308 {
  position:absolute;
  left:2px;
  top:687px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u309 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u310_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:6px;
}
#u310 {
  position:absolute;
  left:1805px;
  top:669px;
  width:75px;
  height:3px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-family:'DaunPenh Regular', 'DaunPenh';
  font-weight:400;
  font-style:normal;
}
#u311 {
  position:absolute;
  left:2px;
  top:-6px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u312_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:4px;
}
#u312 {
  position:absolute;
  left:1805px;
  top:720px;
  width:75px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  font-family:'DaunPenh Regular', 'DaunPenh';
  font-weight:400;
  font-style:normal;
}
#u313 {
  position:absolute;
  left:2px;
  top:-8px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:100px;
}
#u314 {
  position:absolute;
  left:960px;
  top:0px;
  width:960px;
  height:100px;
}
#u315 {
  position:absolute;
  left:2px;
  top:42px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u316 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:100px;
}
#u317 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:100px;
  font-size:30px;
}
#u318 {
  position:absolute;
  left:2px;
  top:32px;
  width:956px;
  word-wrap:break-word;
}
#u319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:100px;
}
#u319 {
  position:absolute;
  left:960px;
  top:0px;
  width:960px;
  height:100px;
  opacity:0.7;
  font-size:30px;
}
#u320 {
  position:absolute;
  left:2px;
  top:32px;
  width:956px;
  word-wrap:break-word;
}
#u321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u321 {
  position:absolute;
  left:255px;
  top:23px;
  width:55px;
  height:55px;
}
#u322 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:36px;
}
#u323 {
  position:absolute;
  left:285px;
  top:11px;
  width:19px;
  height:36px;
  -webkit-transform:rotate(339deg);
  -moz-transform:rotate(339deg);
  -ms-transform:rotate(339deg);
  transform:rotate(339deg);
}
#u324 {
  position:absolute;
  left:2px;
  top:10px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:57px;
}
#u325 {
  position:absolute;
  left:1216px;
  top:21px;
  width:30px;
  height:57px;
}
#u326 {
  position:absolute;
  left:2px;
  top:20px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:1250px;
}
#u327 {
  position:absolute;
  left:1760px;
  top:100px;
  width:160px;
  height:1250px;
  opacity:0;
}
#u328 {
  position:absolute;
  left:2px;
  top:617px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1290px;
}
#u329 {
  position:absolute;
  left:0px;
  top:100px;
  width:1920px;
  height:1290px;
}
#u330 {
  position:absolute;
  left:2px;
  top:637px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u331 {
  position:absolute;
  left:882px;
  top:705px;
  width:150px;
  height:150px;
}
#u332 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:72px;
}
#u333 {
  position:absolute;
  left:365px;
  top:910px;
  width:1190px;
  height:72px;
  font-family:'DIN Next LT Pro Bold', 'DIN Next LT Pro';
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
  text-align:center;
}
#u334 {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  word-wrap:break-word;
}
#u335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:252px;
}
#u335 {
  position:absolute;
  left:500px;
  top:1021px;
  width:930px;
  height:252px;
  font-size:30px;
  color:#FFFFFF;
  text-align:center;
}
#u336 {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  word-wrap:break-word;
}
#u337 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:170px;
}
#u338 {
  position:absolute;
  left:1780px;
  top:705px;
  width:140px;
  height:170px;
}
#u339 {
  position:absolute;
  left:2px;
  top:77px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u340_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:6px;
}
#u340 {
  position:absolute;
  left:1815px;
  top:764px;
  width:75px;
  height:3px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u341 {
  position:absolute;
  left:2px;
  top:-6px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u342_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:4px;
}
#u342 {
  position:absolute;
  left:1815px;
  top:815px;
  width:75px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u343 {
  position:absolute;
  left:2px;
  top:-8px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u344 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:170px;
}
#u345 {
  position:absolute;
  left:0px;
  top:705px;
  width:140px;
  height:170px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u346 {
  position:absolute;
  left:2px;
  top:77px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u347_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:6px;
}
#u347 {
  position:absolute;
  left:30px;
  top:813px;
  width:75px;
  height:3px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u348 {
  position:absolute;
  left:2px;
  top:-6px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u349_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:4px;
}
#u349 {
  position:absolute;
  left:30px;
  top:764px;
  width:75px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u350 {
  position:absolute;
  left:2px;
  top:-8px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
