body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1390px;
}
#u205 {
  position:absolute;
  left:10px;
  top:1px;
  width:1920px;
  height:1390px;
}
#u206 {
  position:absolute;
  left:2px;
  top:687px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1260px;
}
#u207 {
  position:absolute;
  left:10px;
  top:101px;
  width:1920px;
  height:1260px;
}
#u208 {
  position:absolute;
  left:2px;
  top:622px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:57px;
}
#u209 {
  position:absolute;
  left:230px;
  top:742px;
  width:498px;
  height:57px;
  color:#333333;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  white-space:nowrap;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:30px;
}
#u211 {
  position:absolute;
  left:284px;
  top:1361px;
  width:270px;
  height:30px;
}
#u212 {
  position:absolute;
  left:2px;
  top:7px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:30px;
}
#u213 {
  position:absolute;
  left:558px;
  top:1361px;
  width:270px;
  height:30px;
}
#u214 {
  position:absolute;
  left:2px;
  top:7px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:30px;
}
#u215 {
  position:absolute;
  left:832px;
  top:1361px;
  width:270px;
  height:30px;
}
#u216 {
  position:absolute;
  left:2px;
  top:7px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:30px;
}
#u217 {
  position:absolute;
  left:1106px;
  top:1361px;
  width:270px;
  height:30px;
}
#u218 {
  position:absolute;
  left:2px;
  top:7px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:30px;
}
#u219 {
  position:absolute;
  left:1654px;
  top:1361px;
  width:276px;
  height:30px;
}
#u220 {
  position:absolute;
  left:2px;
  top:7px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:30px;
}
#u221 {
  position:absolute;
  left:10px;
  top:1361px;
  width:270px;
  height:30px;
}
#u222 {
  position:absolute;
  left:2px;
  top:7px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:50px;
}
#u223 {
  position:absolute;
  left:1380px;
  top:1341px;
  width:270px;
  height:50px;
}
#u224 {
  position:absolute;
  left:2px;
  top:17px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:100px;
}
#u225 {
  position:absolute;
  left:970px;
  top:1px;
  width:960px;
  height:100px;
}
#u226 {
  position:absolute;
  left:2px;
  top:42px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:100px;
}
#u228 {
  position:absolute;
  left:10px;
  top:1px;
  width:960px;
  height:100px;
  font-size:30px;
}
#u229 {
  position:absolute;
  left:2px;
  top:32px;
  width:956px;
  word-wrap:break-word;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:100px;
}
#u230 {
  position:absolute;
  left:970px;
  top:1px;
  width:960px;
  height:100px;
  opacity:0.7;
  font-size:30px;
}
#u231 {
  position:absolute;
  left:2px;
  top:32px;
  width:956px;
  word-wrap:break-word;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u232 {
  position:absolute;
  left:265px;
  top:24px;
  width:55px;
  height:55px;
}
#u233 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:36px;
}
#u234 {
  position:absolute;
  left:295px;
  top:12px;
  width:19px;
  height:36px;
  -webkit-transform:rotate(339deg);
  -moz-transform:rotate(339deg);
  -ms-transform:rotate(339deg);
  transform:rotate(339deg);
}
#u235 {
  position:absolute;
  left:2px;
  top:10px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:57px;
}
#u236 {
  position:absolute;
  left:1226px;
  top:22px;
  width:30px;
  height:57px;
}
#u237 {
  position:absolute;
  left:2px;
  top:20px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:208px;
}
#u238 {
  position:absolute;
  left:190px;
  top:832px;
  width:980px;
  height:208px;
  font-size:30px;
  color:#FFFFFF;
}
#u239 {
  position:absolute;
  left:50px;
  top:50px;
  width:880px;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:170px;
}
#u241 {
  position:absolute;
  left:0px;
  top:611px;
  width:140px;
  height:170px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u242 {
  position:absolute;
  left:2px;
  top:77px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:6px;
}
#u243 {
  position:absolute;
  left:30px;
  top:719px;
  width:75px;
  height:3px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u244 {
  position:absolute;
  left:2px;
  top:-6px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:4px;
}
#u245 {
  position:absolute;
  left:30px;
  top:670px;
  width:75px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u246 {
  position:absolute;
  left:2px;
  top:-8px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:170px;
}
#u248 {
  position:absolute;
  left:1790px;
  top:611px;
  width:140px;
  height:170px;
}
#u249 {
  position:absolute;
  left:2px;
  top:77px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:6px;
}
#u250 {
  position:absolute;
  left:1825px;
  top:670px;
  width:75px;
  height:3px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u251 {
  position:absolute;
  left:2px;
  top:-6px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:4px;
}
#u252 {
  position:absolute;
  left:1825px;
  top:721px;
  width:75px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u253 {
  position:absolute;
  left:2px;
  top:-8px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
