body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u519 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u520 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:1080px;
}
#u521 {
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:1080px;
}
#u522 {
  position:absolute;
  left:2px;
  top:532px;
  width:710px;
  visibility:hidden;
  word-wrap:break-word;
}
#u523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u523 {
  position:absolute;
  left:1810px;
  top:30px;
  width:50px;
  height:50px;
}
#u524 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u525 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u526 {
  position:absolute;
  left:1810px;
  top:986px;
  width:70px;
  height:70px;
}
#u527 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u528 {
  position:absolute;
  left:50px;
  top:986px;
  width:70px;
  height:70px;
}
#u529 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:355px;
}
#u530 {
  position:absolute;
  left:557px;
  top:652px;
  width:1220px;
  height:355px;
  color:#FFFFFF;
}
#u531 {
  position:absolute;
  left:50px;
  top:50px;
  width:1120px;
  word-wrap:break-word;
}
