body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u728 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u729 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1930px;
  height:1079px;
}
#u730 {
  position:absolute;
  left:-10px;
  top:1px;
  width:1930px;
  height:1079px;
}
#u731 {
  position:absolute;
  left:2px;
  top:532px;
  width:1926px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:100px;
}
#u733 {
  position:absolute;
  left:0px;
  top:1px;
  width:480px;
  height:100px;
  opacity:0.5;
  font-family:'DIN Next LT Pro Bold', 'DIN Next LT Pro';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-align:left;
}
#u734 {
  position:absolute;
  left:100px;
  top:32px;
  width:378px;
  word-wrap:break-word;
}
#u735 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:100px;
}
#u736 {
  position:absolute;
  left:960px;
  top:1px;
  width:480px;
  height:100px;
  opacity:0.5;
  font-family:'DIN Next LT Pro Bold', 'DIN Next LT Pro';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-align:left;
}
#u737 {
  position:absolute;
  left:100px;
  top:32px;
  width:378px;
  word-wrap:break-word;
}
#u738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u738 {
  position:absolute;
  left:990px;
  top:26px;
  width:50px;
  height:50px;
}
#u739 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:100px;
}
#u741 {
  position:absolute;
  left:480px;
  top:1px;
  width:480px;
  height:100px;
  font-family:'DIN Next LT Pro Bold', 'DIN Next LT Pro';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-align:left;
}
#u742 {
  position:absolute;
  left:100px;
  top:32px;
  width:378px;
  word-wrap:break-word;
}
#u743 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:100px;
}
#u744 {
  position:absolute;
  left:1440px;
  top:1px;
  width:480px;
  height:100px;
  opacity:0.5;
  font-family:'DIN Next LT Pro Bold', 'DIN Next LT Pro';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-align:left;
}
#u745 {
  position:absolute;
  left:100px;
  top:32px;
  width:378px;
  word-wrap:break-word;
}
#u746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
}
#u746 {
  position:absolute;
  left:1450px;
  top:32px;
  width:50px;
  height:38px;
}
#u747 {
  position:absolute;
  left:2px;
  top:11px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u748 {
  position:absolute;
  left:500px;
  top:17px;
  width:63px;
  height:63px;
}
#u749 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u750 {
  position:absolute;
  left:30px;
  top:25px;
  width:53px;
  height:53px;
}
#u751 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u752 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:170px;
}
#u753 {
  position:absolute;
  left:1780px;
  top:430px;
  width:140px;
  height:170px;
}
#u754 {
  position:absolute;
  left:2px;
  top:77px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u755_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:6px;
}
#u755 {
  position:absolute;
  left:1815px;
  top:489px;
  width:75px;
  height:3px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u756 {
  position:absolute;
  left:2px;
  top:-6px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u757_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:4px;
}
#u757 {
  position:absolute;
  left:1815px;
  top:540px;
  width:75px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u758 {
  position:absolute;
  left:2px;
  top:-8px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:810px;
}
#u759 {
  position:absolute;
  left:0px;
  top:270px;
  width:1300px;
  height:810px;
  font-family:'DIN Next LT Pro Bold', 'DIN Next LT Pro';
  font-style:normal;
  color:#FFFFFF;
}
#u760 {
  position:absolute;
  left:200px;
  top:50px;
  width:1050px;
  word-wrap:break-word;
}
#u761 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:170px;
}
#u762 {
  position:absolute;
  left:0px;
  top:455px;
  width:140px;
  height:170px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u763 {
  position:absolute;
  left:2px;
  top:77px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u764_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:6px;
}
#u764 {
  position:absolute;
  left:30px;
  top:563px;
  width:75px;
  height:3px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u765 {
  position:absolute;
  left:2px;
  top:-6px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u766_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:4px;
}
#u766 {
  position:absolute;
  left:30px;
  top:514px;
  width:75px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u767 {
  position:absolute;
  left:2px;
  top:-8px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
