/*---------- Nav Bar -----------*/

.navBar{
    position:fixed;
    
    
}

.logo{
    float:left;
    
}
.logo img{
    height:25px;
    float:left;
    padding:1em 0 0 10%;
}

.links{
    text-align: center;
    width:30%;
    float:left;
    padding: 0 0 0 23%;
}

.links > li{
    text-align: center;
    display:inline-block;
    margin:0 5%;
}
.signIn{
    float:right;
    margin:1em 3em 0 0;
}


/*---------- Hero ----------*/
.hero h1,.hero h3,.hero a{
    vertical-align: center;
}

.hero{
    padding:0;
    margin:0;
    min-width: 100%;
    text-align: center;
    color:white;
    position:relative;
    height: 900px;  
    text-align:center;
    overflow:hidden
    
}

.heroTitle{
    letter-spacing: 10px;
    padding:20% 0 0 0;
    margin:0 5%;
}
.heroSub{
    margin:0 5% 5% 5%;
}

.mySlides{
    min-width: 100%;
    min-height:100%;
    position:absolute;
    z-index: -1;
    align-content: center;
    clip: rect(0, 3000px, 900px, 0);
    max-height:inherit;
}

.dots{
    padding: 12% 0 0% 0;
}
.carasolDot{
    height:10px;
    width:10px;
    margin:0 10px;
    display:inline-block;
    border-radius:50%;
    background-color:rgba(0,0,0,.7)
}
.whiteDot,.whiteHover:hover{
    background-color:rgba(255,255,255,.9);
    color:black;
    cursor:pointer;
}
.carasolButtonLeft{
    position:absolute;
    top:50%;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%)
}
.carasolButtonRight{
    position:absolute;
    top:50%;
    right:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%)
}
.carasolButton{
    border:none;
    padding:8px 16px;
    width:40px;
    height:40px;
    background-color:rgba(0,0,0,.5);
    color:white;
}

/*---------- Selling Points ----------*/


.sellingPoints{
    position:relative;
    min-height: 700px;
    width:100%;
}
.sellingPoints h3{
    font-family:"Varela Round", sans-serif;
}
.sellingPoints div h5{
    padding:0 0 0 25%;;
}

.sellingPoints h5, .sellingPoints p{
    width:75%;
    padding:0 0 0 25%;
}

.designer{
    padding:;
    margin: 20% 20% 0 0;
}

.sellingPoints span{
    font-size:3em;
    float:left;
    padding:30px 0 0 3%;
}

.sellingPoints .right{
    font-size:3em;
    margin:10% 0 0;
}

.sellingPoints .rightP{
    margin:15% 0 0;
    position:relative;
    padding: 40px  0 0 100px;
    
}

/*---------- Subscribe ----------*/

.subscribe{
    clear:all;
    position:relative;
    margin:0;
    text-align: center;
    background:rgba(0,0,0,.8);
    color:white;
    height:300px;
}
.subscribe h5{
    padding:100px 0 0;
}
.subscribe input{
    height:30px;
    margin:0;
    font-size: 18px;
    padding:4px 0 0;
    border:none;
    border-bottom: 2px solid white;
    background-color:rgba(0,0,0,0);
    width:30%;
    margin: 0 5% 0 0;
    color:white;
}
.subscribe .button{
    font-size:20px;
    margin:0;
}




/*------------- Footer -----------------*/

footer{
    clear:all;
    position:relative;
    background-color:black;
    opacity:.6;
    min-width:100%;
    height:4em;
}
footer h5{
    color:white;
    font-size: 18px;
    margin:0;
}
.footer-links li{
    display:inline-block;
    text-decoration:none;
    margin: 0 5%;
    text-align: center;
}
.footer-links{
    text-align: center;
    margin: 0 0;
    padding: 1.2em 0 0;
}