body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u128 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:800px;
}
#u129 {
  position:absolute;
  left:140px;
  top:140px;
  width:800px;
  height:800px;
}
#u130 {
  position:absolute;
  left:2px;
  top:392px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u131 {
  position:absolute;
  left:700px;
  top:166px;
  width:387px;
  height:16px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  visibility:hidden;
  white-space:nowrap;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133 {
  position:absolute;
  left:1126px;
  top:166px;
  width:372px;
  height:16px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  visibility:hidden;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:899px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'DIN Next LT Pro Bold', 'DIN Next LT Pro';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#333333;
  text-align:left;
}
#u136 {
  position:absolute;
  left:910px;
  top:100px;
  width:940px;
  height:899px;
  opacity:0.7;
  font-family:'DIN Next LT Pro Bold', 'DIN Next LT Pro';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#333333;
  text-align:left;
}
#u137 {
  position:absolute;
  left:30px;
  top:30px;
  width:908px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:905px;
}
#u138 {
  position:absolute;
  left:998px;
  top:153px;
  width:750px;
  height:905px;
  font-family:'DIN Next LT Pro Bold', 'DIN Next LT Pro';
  font-style:normal;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  word-wrap:break-word;
}
#u140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:590px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:right;
}
#u140 {
  position:absolute;
  left:900px;
  top:330px;
  width:70px;
  height:590px;
  opacity:0.7;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align:right;
}
#u141 {
  position:absolute;
  left:2px;
  top:572px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u143 {
  position:absolute;
  left:1796px;
  top:56px;
  width:75px;
  height:75px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u144 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:78px;
}
#u145 {
  position:absolute;
  left:1831px;
  top:56px;
  width:3px;
  height:75px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u146 {
  position:absolute;
  left:2px;
  top:30px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:78px;
}
#u147 {
  position:absolute;
  left:1833px;
  top:54px;
  width:3px;
  height:75px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u148 {
  position:absolute;
  left:2px;
  top:30px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u150 {
  position:absolute;
  left:1780px;
  top:481px;
  width:140px;
  height:170px;
}
#u151 {
  position:absolute;
  left:2px;
  top:77px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:6px;
}
#u152 {
  position:absolute;
  left:1815px;
  top:540px;
  width:75px;
  height:3px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u153 {
  position:absolute;
  left:2px;
  top:-6px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:4px;
}
#u154 {
  position:absolute;
  left:1815px;
  top:591px;
  width:75px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u155 {
  position:absolute;
  left:2px;
  top:-8px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u157 {
  position:absolute;
  left:0px;
  top:481px;
  width:140px;
  height:170px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u158 {
  position:absolute;
  left:2px;
  top:77px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:6px;
}
#u159 {
  position:absolute;
  left:30px;
  top:589px;
  width:75px;
  height:3px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u160 {
  position:absolute;
  left:2px;
  top:-6px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:4px;
}
#u161 {
  position:absolute;
  left:30px;
  top:540px;
  width:75px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u162 {
  position:absolute;
  left:2px;
  top:-8px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
