body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u950 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u951 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:100px;
}
#u953 {
  position:absolute;
  left:0px;
  top:1px;
  width:480px;
  height:100px;
  opacity:0.5;
  font-family:'DIN Next LT Pro Bold', 'DIN Next LT Pro';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-align:left;
}
#u954 {
  position:absolute;
  left:100px;
  top:32px;
  width:378px;
  word-wrap:break-word;
}
#u955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:100px;
}
#u956 {
  position:absolute;
  left:960px;
  top:1px;
  width:480px;
  height:100px;
  font-family:'DIN Next LT Pro Bold', 'DIN Next LT Pro';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-align:left;
}
#u957 {
  position:absolute;
  left:100px;
  top:32px;
  width:378px;
  word-wrap:break-word;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u958 {
  position:absolute;
  left:990px;
  top:26px;
  width:50px;
  height:50px;
}
#u959 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:100px;
}
#u961 {
  position:absolute;
  left:480px;
  top:1px;
  width:480px;
  height:100px;
  opacity:0.5;
  font-family:'DIN Next LT Pro Bold', 'DIN Next LT Pro';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-align:left;
}
#u962 {
  position:absolute;
  left:100px;
  top:32px;
  width:378px;
  word-wrap:break-word;
}
#u963 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:100px;
}
#u964 {
  position:absolute;
  left:1440px;
  top:1px;
  width:480px;
  height:100px;
  opacity:0.5;
  font-family:'DIN Next LT Pro Bold', 'DIN Next LT Pro';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-align:left;
}
#u965 {
  position:absolute;
  left:100px;
  top:32px;
  width:378px;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
}
#u966 {
  position:absolute;
  left:1450px;
  top:32px;
  width:50px;
  height:38px;
}
#u967 {
  position:absolute;
  left:2px;
  top:11px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u968 {
  position:absolute;
  left:500px;
  top:17px;
  width:63px;
  height:63px;
}
#u969 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u970 {
  position:absolute;
  left:30px;
  top:25px;
  width:53px;
  height:53px;
}
#u971 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:170px;
}
#u973 {
  position:absolute;
  left:0px;
  top:481px;
  width:140px;
  height:170px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u974 {
  position:absolute;
  left:2px;
  top:77px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:6px;
}
#u975 {
  position:absolute;
  left:30px;
  top:589px;
  width:75px;
  height:3px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u976 {
  position:absolute;
  left:2px;
  top:-6px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:4px;
}
#u977 {
  position:absolute;
  left:30px;
  top:540px;
  width:75px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u978 {
  position:absolute;
  left:2px;
  top:-8px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1305px;
  height:10px;
}
#u979 {
  position:absolute;
  left:330px;
  top:940px;
  width:1300px;
  height:5px;
}
#u980 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u981 {
  position:absolute;
  left:235px;
  top:880px;
  width:125px;
  height:125px;
  font-size:30px;
  color:#FFFFFF;
}
#u982 {
  position:absolute;
  left:2px;
  top:44px;
  width:121px;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u983 {
  position:absolute;
  left:512px;
  top:880px;
  width:125px;
  height:125px;
  font-size:30px;
  color:#FFFFFF;
}
#u984 {
  position:absolute;
  left:2px;
  top:44px;
  width:121px;
  word-wrap:break-word;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u985 {
  position:absolute;
  left:789px;
  top:880px;
  width:125px;
  height:125px;
  font-size:30px;
  color:#FFFFFF;
}
#u986 {
  position:absolute;
  left:2px;
  top:44px;
  width:121px;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u987 {
  position:absolute;
  left:1066px;
  top:880px;
  width:125px;
  height:125px;
  font-size:30px;
  color:#FFFFFF;
}
#u988 {
  position:absolute;
  left:2px;
  top:44px;
  width:121px;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u989 {
  position:absolute;
  left:1343px;
  top:880px;
  width:125px;
  height:125px;
  font-size:30px;
  color:#FFFFFF;
}
#u990 {
  position:absolute;
  left:2px;
  top:44px;
  width:121px;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u991 {
  position:absolute;
  left:1620px;
  top:880px;
  width:125px;
  height:125px;
  font-size:30px;
  color:#FFFFFF;
}
#u992 {
  position:absolute;
  left:2px;
  top:44px;
  width:121px;
  word-wrap:break-word;
}
#u993 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1515px;
  height:610px;
}
#u994 {
  position:absolute;
  left:230px;
  top:190px;
  width:1515px;
  height:610px;
  font-size:20px;
  color:#666666;
  text-align:left;
}
#u995 {
  position:absolute;
  left:1000px;
  top:269px;
  width:415px;
  word-wrap:break-word;
}
#u996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:895px;
  height:600px;
}
#u996 {
  position:absolute;
  left:235px;
  top:195px;
  width:895px;
  height:600px;
}
#u997 {
  position:absolute;
  left:2px;
  top:292px;
  width:891px;
  visibility:hidden;
  word-wrap:break-word;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:50px;
}
#u998 {
  position:absolute;
  left:266px;
  top:800px;
  width:63px;
  height:50px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u999 {
  position:absolute;
  left:2px;
  top:17px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1000 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:180px;
}
#u1001 {
  position:absolute;
  left:512px;
  top:620px;
  width:570px;
  height:180px;
  font-size:20px;
  text-align:left;
}
#u1002 {
  position:absolute;
  left:100px;
  top:66px;
  width:370px;
  word-wrap:break-word;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:50px;
}
#u1003 {
  position:absolute;
  left:543px;
  top:800px;
  width:63px;
  height:50px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1004 {
  position:absolute;
  left:2px;
  top:17px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1005 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1515px;
  height:610px;
}
#u1006 {
  position:absolute;
  left:230px;
  top:190px;
  width:1515px;
  height:610px;
  font-size:20px;
  text-align:left;
}
#u1007 {
  position:absolute;
  left:1050px;
  top:233px;
  width:415px;
  word-wrap:break-word;
}
#u1008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:985px;
  height:595px;
}
#u1008 {
  position:absolute;
  left:235px;
  top:195px;
  width:985px;
  height:595px;
}
#u1009 {
  position:absolute;
  left:2px;
  top:290px;
  width:981px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:50px;
}
#u1010 {
  position:absolute;
  left:820px;
  top:800px;
  width:63px;
  height:50px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1011 {
  position:absolute;
  left:2px;
  top:17px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:180px;
}
#u1013 {
  position:absolute;
  left:844px;
  top:620px;
  width:570px;
  height:180px;
  font-size:20px;
  text-align:left;
}
#u1014 {
  position:absolute;
  left:100px;
  top:30px;
  width:370px;
  word-wrap:break-word;
}
#u1015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:50px;
}
#u1015 {
  position:absolute;
  left:1097px;
  top:800px;
  width:63px;
  height:50px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1016 {
  position:absolute;
  left:2px;
  top:17px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:180px;
}
#u1018 {
  position:absolute;
  left:1121px;
  top:620px;
  width:570px;
  height:180px;
  font-size:20px;
  text-align:left;
}
#u1019 {
  position:absolute;
  left:100px;
  top:54px;
  width:370px;
  word-wrap:break-word;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:50px;
}
#u1020 {
  position:absolute;
  left:1374px;
  top:800px;
  width:63px;
  height:50px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1021 {
  position:absolute;
  left:2px;
  top:17px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:360px;
}
#u1023 {
  position:absolute;
  left:1170px;
  top:440px;
  width:575px;
  height:360px;
  font-size:20px;
  text-align:left;
}
#u1024 {
  position:absolute;
  left:100px;
  top:158px;
  width:375px;
  word-wrap:break-word;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:50px;
}
#u1025 {
  position:absolute;
  left:1651px;
  top:800px;
  width:63px;
  height:50px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1026 {
  position:absolute;
  left:2px;
  top:17px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:49px;
}
#u1027 {
  position:absolute;
  left:1330px;
  top:496px;
  width:201px;
  height:49px;
}
#u1028 {
  position:absolute;
  left:2px;
  top:16px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
