body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1924px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:1084px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:1084px;
}
#u87 {
  position:absolute;
  left:2px;
  top:534px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:1084px;
}
#u88 {
  position:absolute;
  left:480px;
  top:0px;
  width:480px;
  height:1084px;
}
#u89 {
  position:absolute;
  left:2px;
  top:534px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:1084px;
}
#u90 {
  position:absolute;
  left:960px;
  top:0px;
  width:480px;
  height:1084px;
}
#u91 {
  position:absolute;
  left:2px;
  top:534px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:72px;
}
#u92 {
  position:absolute;
  left:80px;
  top:896px;
  width:400px;
  height:72px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:36px;
}
#u94 {
  position:absolute;
  left:590px;
  top:915px;
  width:400px;
  height:36px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u97 {
  position:absolute;
  left:7px;
  top:901px;
  width:63px;
  height:63px;
}
#u98 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u99 {
  position:absolute;
  left:16px;
  top:910px;
  width:46px;
  height:46px;
}
#u100 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u102 {
  position:absolute;
  left:507px;
  top:901px;
  width:63px;
  height:63px;
}
#u103 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u104 {
  position:absolute;
  left:516px;
  top:910px;
  width:46px;
  height:46px;
}
#u105 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u107 {
  position:absolute;
  left:1016px;
  top:906px;
  width:63px;
  height:63px;
}
#u108 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u109 {
  position:absolute;
  left:1010px;
  top:894px;
  width:76px;
  height:76px;
}
#u110 {
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:36px;
}
#u111 {
  position:absolute;
  left:1120px;
  top:920px;
  width:290px;
  height:36px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:1084px;
}
#u113 {
  position:absolute;
  left:1440px;
  top:0px;
  width:484px;
  height:1084px;
}
#u114 {
  position:absolute;
  left:2px;
  top:534px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:36px;
}
#u115 {
  position:absolute;
  left:1510px;
  top:920px;
  width:390px;
  height:36px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
