body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u684 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u685 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:1084px;
}
#u686 {
  position:absolute;
  left:1px;
  top:-4px;
  width:1919px;
  height:1084px;
}
#u687 {
  position:absolute;
  left:2px;
  top:534px;
  width:1915px;
  visibility:hidden;
  word-wrap:break-word;
}
#u688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u688 {
  position:absolute;
  left:30px;
  top:29px;
  width:45px;
  height:45px;
}
#u689 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:170px;
}
#u691 {
  position:absolute;
  left:1780px;
  top:455px;
  width:140px;
  height:170px;
}
#u692 {
  position:absolute;
  left:2px;
  top:77px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:6px;
}
#u693 {
  position:absolute;
  left:1815px;
  top:514px;
  width:75px;
  height:3px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u694 {
  position:absolute;
  left:2px;
  top:-6px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:4px;
}
#u695 {
  position:absolute;
  left:1815px;
  top:565px;
  width:75px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u696 {
  position:absolute;
  left:2px;
  top:-8px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u697 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:170px;
}
#u698 {
  position:absolute;
  left:0px;
  top:455px;
  width:140px;
  height:170px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u699 {
  position:absolute;
  left:2px;
  top:77px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u700_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:6px;
}
#u700 {
  position:absolute;
  left:30px;
  top:563px;
  width:75px;
  height:3px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u701 {
  position:absolute;
  left:2px;
  top:-6px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u702_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:4px;
}
#u702 {
  position:absolute;
  left:30px;
  top:514px;
  width:75px;
  height:1px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u703 {
  position:absolute;
  left:2px;
  top:-8px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u704 {
  position:absolute;
  left:882px;
  top:760px;
  width:150px;
  height:150px;
}
#u705 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:604px;
}
#u706 {
  position:absolute;
  left:330px;
  top:200px;
  width:1250px;
  height:604px;
  font-size:30px;
  color:#FFFFFF;
  text-align:center;
}
#u707 {
  position:absolute;
  left:50px;
  top:50px;
  width:1150px;
  word-wrap:break-word;
}
#u708 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:100px;
}
#u709 {
  position:absolute;
  left:0px;
  top:1px;
  width:480px;
  height:100px;
  font-family:'DIN Next LT Pro Bold', 'DIN Next LT Pro';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-align:left;
}
#u710 {
  position:absolute;
  left:100px;
  top:32px;
  width:378px;
  word-wrap:break-word;
}
#u711 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:100px;
}
#u712 {
  position:absolute;
  left:960px;
  top:1px;
  width:480px;
  height:100px;
  opacity:0.5;
  font-family:'DIN Next LT Pro Bold', 'DIN Next LT Pro';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-align:left;
}
#u713 {
  position:absolute;
  left:100px;
  top:32px;
  width:378px;
  word-wrap:break-word;
}
#u714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u714 {
  position:absolute;
  left:990px;
  top:26px;
  width:50px;
  height:50px;
}
#u715 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u716 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:100px;
}
#u717 {
  position:absolute;
  left:480px;
  top:1px;
  width:480px;
  height:100px;
  opacity:0.5;
  font-family:'DIN Next LT Pro Bold', 'DIN Next LT Pro';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-align:left;
}
#u718 {
  position:absolute;
  left:100px;
  top:32px;
  width:378px;
  word-wrap:break-word;
}
#u719 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:100px;
}
#u720 {
  position:absolute;
  left:1440px;
  top:1px;
  width:480px;
  height:100px;
  opacity:0.5;
  font-family:'DIN Next LT Pro Bold', 'DIN Next LT Pro';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-align:left;
}
#u721 {
  position:absolute;
  left:100px;
  top:32px;
  width:378px;
  word-wrap:break-word;
}
#u722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
}
#u722 {
  position:absolute;
  left:1450px;
  top:32px;
  width:50px;
  height:38px;
}
#u723 {
  position:absolute;
  left:2px;
  top:11px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u724 {
  position:absolute;
  left:500px;
  top:17px;
  width:63px;
  height:63px;
}
#u725 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u726 {
  position:absolute;
  left:30px;
  top:25px;
  width:53px;
  height:53px;
}
#u727 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
