
.hero{
    background-image:url(e2.jpg);
    width:100%;
    min-height:100%;
    background-position:center;
    background-size: cover;
    display:table;
    color:white;
    text-align: center;
    box-shadow:10px 10px 50px #999999;
    z-index: 10;
}
.hero div{
    width:80%;
    margin:0% auto 0;
    padding:25% 0;
}
@media (min-width: 1200px){
    .hero div{
        width:60%;
    }
}
.hero h1{
    padding:0;
    margin:0;
    font-weight:400;
}
.hero h3{
    font-size:36px;
    font-weight:100;
    padding:0;
    margin:0;
}
.hero a{
    color:white;
}















.sectionOne h3{
    padding:0;
    margin:0 auto;
}
p{
    margin:1% auto;
    text-align: center;
}
.sectionOne{
    background-color:rebeccapurple;
    background-size:cover;
    background-position:bottom;
    padding:100px 0;
    width:100%;
    color:white;
    height:100%;
    text-align: center;
}
.sectionOne > div{
    width:60%;
    height:100%;
    margin: auto;
}

@media(min-width: 768px){
    .sectionOne > div{
        width:80%;
    }
    .sectionOne > div >div{
        width: 100%;
    }
    .logo{
        width:70%;
    }
}
@media(min-width: 1200px){
    .sectionOne > div{
        width:60%;
    }
    .sectionOne > div >div{
        width: 100%;
    }
    .logo{
        width:50%
    }
}
@media(max-width:768px){
    .sectionOne > div{
        width:80%;
    }
    .imageContainer{
        display:none;
    }
}
.imageContainer {
    width:100%;
    margin:0 auto;
    height:250px;
}



.sectionTwo{
    margin: 0px auto;
}
.sectionTwo div{
    text-align: center;
}
.sectionTwo img{
    width: 100%;
    box-shadow:10px 10px 50px #999999;
    margin:50px 0 0;
}
.sectionTwo div{
    margin: 50px auto 0;
}


.sectionThree{
    background-color:#eeeeee;
    width:100%;
    padding:50px 0;
}
.sectionThree div{
    text-align: center;
}
@media(max-width:768px){
    .sectionThree div{
        width:90%;
    }
}
@media(min-width:768px){
    .sectionThree div{
        width:80%;
    }
}
@media(min-width:1200px){
    .sectionThree div{
        width:60%;
    }
}
.sectionThree img{
    box-shadow:10px 10px 50px #999999;
    margin:50px 0 0;
    width:100%;
}
.sectionThree div{
    margin: 50px auto 0;
}













footer{
    margin:20px auto;
}
footer{
    clear:both;
}
footer li{
    display:inline-block;
    margin: 0 10px;
    font-size: 12px;
    font-weight: 200;
}
footer ul{
    margin:0;
}
footer h5{
    margin:15px
}
